<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {% if request.user.is_superuser %}
        Add User <br>
        <input type="text" name="first_name" placeholder="First Name"><br/>
        <input type="text" name="last_name" placeholder="Last Name"><br/>
    {% elif request.user.userType == 'Doctor' %}
        Add Patient<br>
        <input type="text" name="first_name" placeholder="First Name"><br/>
        <input type="text" name="last_name" placeholder="Last Name"><br/>
        <input type="text" name="username" placeholder="Username"><br/>
        {{ form.email }}<br/>
        {{ form.gender }}<br/>

        <select name="userType" hidden>
            <option value="Patient" hidden>Patient</option>
        </select>

    {% elif request.user.userType == 'Client' %}
        Add Doctor
    {% endif %}
    <br>
    <button type="submit" class="btn btn-success">Register</button>
</form>

</body>
</html>