{% load static %}

<!-- Main Sidebar  -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img
            src="{% static 'images/smarthealth102.png' %}"
            alt="AdminLTE Logo"
            class="brand-image"
            style="opacity: .8"
        />
        <span class="brand-text font-weight-light">SMARTH HEALTH 102</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img
                    src="{% static 'dist/img/user2-160x160.jpg' %}"
                    class="img-circle elevation-2"
                    alt="User Image"
                />
            </div>
            <div class="info">
                <a href="#" class="d-block">Dr. Bla Bla </a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        {% include 'dashboard/layouts/sidebar/menu_sidebar.html' %}
    </div>
</aside>
